table {
  clear: both;
}
th {
  height: 5px;
  width: 7px;
  z-index: 1;
  background-color: gray;
  border-radius: 5%;
}
.colToday {
  background-color: #c24919 !important;
}
.date {
  text-align: center;
  height: 5px;
  width: 7px;
  background-color: #fffdc5;
}
input {
  height: 5px;
  width: 7px;
  border: none;
  background-color: orange;
  font-size: 3px;
}
.year_mon {
  font-size: 2.5px;
}
