:root {
  --calendar-color: gray;
}
table {
  clear: both;
}
th {
  height: 10px;
  width: 50px;
  background-color: var(--calendar-color);
  border-radius: 5%;
}
.colToday {
  background-color: #c24919 !important;
}
input.date {
  text-align: center;
  height: 100%;
  width: 100%;
  border: none;
  background-color: #fffdc5;
}
.preMon,
.nextMon {
  background-color: var(--calendar-color);
  border: none;
}
