:root {
  --calendar-color: rgba(130, 128, 128, 1);
}

table {
  clear: both;
}

th {
  height: 10px;
  width: 50px;
  background-color: var(--calendar-color);
  border-radius: 5%;
  color : white;
}

.colToday {
  background-color: rgba(228, 145, 145, 1) !important;
}

input.date {
  text-align: center;
  height: 100%;
  width: 100%;
  border: none;
  background-color: rgba(197, 197, 197, 1); 
}
.preMon,
.nextMon {
  background-color: var(--calendar-color);
  border: none;
}

#date_name {
  display: flex;
  font-size: 40px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top : 340px;
  font-family: 'Gill Sans MT';
  color : rgba(65, 180, 176, 1);;
}

#rankBoard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6px;
  margin-top : 5px;
}

#dayrankName,
#dayrankRank,
#dayrankAccount {
  display: inline-block;
}

#dayrankRank {
  width: 10%;
}

#dayrankAccount {
  float: right;
}