body{
    background-color: #f5f5f5;
}

/* 위에 단어 입력하는 부분*/

.container{
    width: 100%;
    margin-top: 50px;
}

/* 제목 */
.container > .today_keyword{
    text-align: center;
    margin-bottom: 40px;
}

.container .today_answer{
    text-align: center;
    font-size: 20px;
}

.container .edit-delete{
    display: flex;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.container .edit_link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    background: none;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
    background: #63b2af;
}


.container .delete_answer{
    display: inline-block;
    border-radius: 3px;
    border: none;
    color: #fff;
    padding: 0;
    width: 100%;
}
.container .delete_answer button{
    width: 100%;
    height: 100%;
    background: red;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    color: #fff;
    width:100%;
}
/* 입력창 디자인 부분 */
.container > .register_answer{
    display: flex;
    justify-content: center;
    max-width: 600px;
    height: 40px;
    margin: 0 auto;
}

.container > .register_answer .answer{
    border-radius: 3px 0 0 3px;
    border: 3px solid #63b2af;
    border-right: none;
    padding: 10px;
    flex: 1;

}

.container > .register_answer .answer-button{
    text-decoration: none;
    background: #63b2af;
    border: none;
    border-radius: 0 3px 3px 0;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    color: #fff;
    font-weight: bold;
}



/* 아래에 1~10등 출력하는 부분 */
/* 제목, 버튼 css */
.get_section{
    width: 100%;
    margin-top: 50px;
}

.get_section > .today_winner{
    text-align: center;
    font-size: 20px;
}

.get_section .winner_form{
    display: flex;
    justify-content: center;

}

.get_section .winner_form input{
    background: #63b2af;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 10px 20px 10px 20px;
}

/* 리스트 출력 부분 */
.get_section .winner_list{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}


.get_section .winner_list >div{
    margin: 10px 0;
}

.get_section .winner_list > h3{
    text-align: center;
    font-size: 15px;
}