<head>
  <title> AIDLE </title>
  {% load static %}
  <link href={% static 'index/aidle.css' %} rel="stylesheet" type="text/css"/>
  <link href={% static 'calendar/calendar.css' %} rel="stylesheet"
        type="text/css"/>
  <meta name='description' content="aidle">
</head>

<body style="background-color: rgba(223,223,223,1);">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src={% static "calendar/calendar.js" %}></script>
<script src={% static "index/aidle.js" %}></script>


{% if messages %}
  <div class="text-center">
    <div class="btn btn-{{ message.tags }} rounded-pill px-5 my-3">
      {{ message }}
    </div>
  </div>
{% endif %}
{% include "member/login.html" %}

<img src="{% static 'index/title.PNG' %}"
     style="margin-left:600px; margin-top : 50px"> 


<div class="rankar">
  <div class="aidl_text"
       style="color:rgba(130,128,128,1); margin-top:20%; font-size: 45px;">
    RANK
  </div>

</div>
<div class="wordle_container">
  <form>
    <p id="box"></p>
  </form>
</div>
<div>
  <div class = "qmark" onclick="exampleopen()">❔</div>
  <div><img class = "example" src = "{% static 'index/Example.PNG' %}"></div>
  {% load static %}
  <script src="{% static 'game/game.js' %}"></script>
  <link rel="stylesheet" href="{% static 'game/game.css' %}"/>
</div>
<div class="sideicon">
  <input type="checkbox" id="menuicon">
  <label for="menuicon">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <div class="sidebar">
    <div class= "classrankmark" onclick="classrankopen()">🏫</div>
    {% include "master_user/avg_test.html" %}
    <div class = "classrank"></div>
    <table id='calendar'>
      <thead>
      <tr>
        <th><input name="preMon" class="preMon" type="button" value="<"/></th>
        <th colspan="5" class="year_month"></th>
        <th><input name="nextMon" class="nextMon" type="button" value=">"/></th>
      </tr>
      <tr>
        <th>일</th>
        <th>월</th>
        <th>화</th>
        <th>수</th>
        <th>목</th>
        <th>금</th>
        <th>토</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
    <a id="date_name"></a>
    <div id="scoreboard">

    </div>
  </div>
</div>
</body>