<head>
    <title> AIDLE </title>
    {% load static %}
    <link href="{% static 'index/aidle.css' %}" rel="stylesheet" type="text/css" />
    <meta name='description' content="aidle">
</head>

<body style="background-color: rgba(223,223,223,1);">
    <img src="{% static 'index/title.PNG' %}" style="margin-left:600px; margin-top : 50px">
    <div class="aidl_login" style="display : flex">
        <div class="aidl_login_inner">
            <div class = "IDinput">
                <div style = "color:rgba(130,128,128,1); font-size: 20px;" ><b>ID</b></div>
                <input type="text" name="user_id"></div>
            <div class = "PWinput">
                <div style = "color:rgba(130,128,128,1); font-size: 20px;" ><b>PASSWORD</b></div>
                <input type="password" name = "password" ></div>
            <div><input class="butt" type = "submit" id ="close" value = "LOGIN"></div>  
        </div>
            <div style = "position : absolute; top : 530px; left : 930px">
                <a href = "aidle_signup.html">SIGNUP</a>
            </div>
        </div>
    </div>
    <div class="sideicon">
        <input type="checkbox" id="menuicon">
        <label for="menuicon">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div class="sidebar">
            <div style="margin-top : 35%; margin-left:15%">
                <input type="date">
                <div class="calender">
                    <div class="aidl_text" style="color:rgba(130,128,128,1); font-size: 35px; margin-top : 15%;">
                        WORD
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rankar">
        <div class="aidl_text" style="color:rgba(130,128,128,1); margin-top:20%; font-size: 45px;">
            RANK
        </div>
    </div>
    <div class="aidl_box wrap5">
        <div class="check box">
            <div class="aidl_text">A</div>
        </div>
        <div class="wrong box">
            <div class="aidl_text">I</div>
        </div>
        <div class="correct box">
            <div class="aidl_text">D</div>
        </div>
        <div class="check box">
            <div class="aidl_text">L</div>
        </div>
        <div class="check box">
            <div class="aidl_text">E</div>
        </div>
    </div>
    <div>
        <div class="aidl_box wrap6">
            <div class="check box">
                <div class="aidl_text">A</div>
            </div>
            <div class="check box">
                <div class="aidl_text">I</div>
            </div>
            <div class="check box">
                <div class="aidl_text">D</div>
            </div>
            <div class="check box">
                <div class="aidl_text">L</div>
            </div>
            <div class="check box">
                <div class="aidl_text">E</div>
            </div>
            <div class="check box">
                <div class="aidl_text">6</div>
            </div>
        </div>
        <div>
            <div class="aidl_box wrap7">
                <div class="normal box">
                    <div class="aidl_text">A</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">I</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">D</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">L</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">E</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">6</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">7</div>
                </div>
            </div>
        </div>
        <div>
            <div class="aidl_box wrap8">
                <div class="normal box">
                    <div class="aidl_text">A</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">I</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">D</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">L</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">E</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">6</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">7</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">8</div>
                </div>
            </div>
        </div>
        <div>
            <div class="aidl_box wrap9">
                <div class="normal box">
                    <div class="aidl_text">A</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">I</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">D</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">L</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">E</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">6</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">7</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">8</div>
                </div>
                <div class="normal box">
                    <div class="aidl_text">9</div>
                </div>
            </div>
</body>




<script>
    const close = document.getElementById("close");
    const modal = document.querySelector(".aidl_login");
    close.onclick = () => {
    modal.style.display = "none";};
</script>