<head>
  <title> AIDLE 회원가입 </title>
  {% load static %}
  <link href="{% static 'index/aidle.css' %}" rel="stylesheet" type="text/css" />
  <meta name='description' content="aidle">
</head>


<body style="background-color: rgba(223,223,223,1);">
  <img src="{% static 'index/title.PNG' %}" style="margin-left:600px; margin-top : 50px">
  
  <form action="{% url 'member:signup' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div>
          <div style="color:rgba(130,128,128,1); font-size: 30px; position:absolute; top:180px; left:570px">
              <b>ID : </b>
          </div>
          <input type="text" name="user_id" id="user_id"
              style="position: absolute; top:185px; left:650px; height : 40px; font-size : 30px"
              value="{{ form.user_id.value | default_if_none:'' }}">
          <div style="color:rgb(124, 39, 39); font-size: 15px; position:absolute; top:220px; left:630px">
            <b>{{ form.user_id.errors }}</b>
          </div>
      </div>

      <div>
          <div style="color:rgba(130,128,128,1); font-size: 30px; position:absolute; top:280px; left:435px">
              <b>PASSWORD : </b>
          </div>
          <input type="PASSWORD" name="user_pw" id="user_pw"
              style="position: absolute; top:285px; left:650px; height : 40px; font-size : 30px"
              value="{{ form.user_pw.value | default_if_none:'' }}">
          <div style="color:rgb(124, 39, 39); font-size: 15px; position:absolute; top:320px; left:630px">
            <b>{{ form.user_pw.errors }}</b>
          </div>
      </div>

      <div>
          <div style="color:rgba(130,128,128,1); font-size: 30px; position:absolute; top:380px; left:510px">
              <b>NAME :</b>
          </div>
          <input type="text" id="user_name" name="user_name"
              style="position: absolute; top:385px; left:650px; height : 40px; font-size : 30px"
              value="{{ form.user_name.value | default_if_none:'' }}">
          <div style="color:rgb(124, 39, 39); font-size: 15px; position:absolute; top:420px; left:630px">
            <b>{{ form.user_name.errors }}</b>
          </div>
      </div>

      <div>
          <div style="color:rgba(130,128,128,1); font-size: 30px; position:absolute; top:480px; left:510px">
              <b>CLASS :</b>
          </div>
          <input type="text" name="user_class" id="user_class"
              style="position: absolute; top:485px; left:650px; height : 40px; font-size : 30px" list="class_options"
              value="{{ form.user_class.value | default_if_none:'' }}">
          <div style="color:rgb(124, 39, 39); font-size: 15px; position:absolute; top:520px; left:630px">
            <b>{{ form.user_class.errors }}</b>
          </div>
      </div>

        <div>
          <div style="color:rgba(130,128,128,1); font-size: 30px; position:absolute; top:580px; left:510px">
              <b>IMAGE :</b>
          </div>
          <input type="file" name="user_profile" id="user_profile"
              style="position: absolute; top:585px; left:650px; height : 40px; font-size : 30px"
              value="{{ form.user_profile.value | default_if_none:'' }}">
          <div style="color:rgb(124, 39, 39); font-size: 15px; position:absolute; top:620px; left:630px">
            <b>{{ form.user_profile.errors }}</b>
          </div>
      </div>

      <datalist id="class_options">
          {% for class in classes %}
              <option value="{{ class }}" label="{{ class }}"></option>
          {% endfor %}
      </datalist>
      <div>
          <input class = "butt" type="submit" value="SIGNUP" id="submit"
          style="position:absolute; top : 700px; left : 680px; background-color:rgba(65,180,176,1) ; height : 60px; width : 150px;">
      </div>
  </form>
</body>

