<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const submitData = async () => {
    const date_f = document.getElementById("date").value;
    console.log(date_f);
    axios
      .post("/calendar/post/", {
        date: date_f,
      })
      .then(
        (res) => {
          console.log(res.data);
        },
        (error) => {
          console.log(error);
        }
      );
  };
</script>
<form name="myForm" id="myForm" onSubmit="return false" method="post">
  <input name="date" id="date" type="date" />
  <input
    class="button"
    type="submit"
    id="submit"
    value="submit"
    onclick="submitData()"
  />
</form>
