<script>
    var answer = "{{ answer }}";
    var answer_list = new Array();
    var answer_list = Array.from(answer);
    var my_oppertunity = 0;
    var opportunity = answer_list.length + 1;
    document.write(answer_list.length);
    document.write("자 제한");
    var result = " "

    function game() {
        var user_input = String(document.getElementById("in").value);
        var user_input_list = new Array();
        var user_input_list = Array.from(user_input);
    
        if (answer == user_input) {
            alert("o");
        }
    
        for (var i = 0; i < answer_list.length; i++) {
            if (answer_list[i] != user_input_list[i]) {
                if (answer_list.includes(user_input_list[i])) {
                    result += user_input_list[i].fontcolor("red")
                }
                else {
                    result += user_input_list[i]
                }
            }
            else {
                result += user_input_list[i].fontcolor("green")
            }
        }
        document.getElementById("message").innerHTML = result
        result += '<br/>'
    
        if (my_oppertunity < opportunity) {
            my_oppertunity += 1;
        }
        else {
            alert("x");
        }
        document.getElementById("trygame").innerHTML = my_oppertunity + "회 시도"
    }
</script>
<form>
    <input id = "in">
    <button type="button" onclick="game()">확인</button><br/>
    <p id="message" /p>
    <p id="trygame" /p>
    <p id="timemsg" /p>
</form>

